h1 {
    color: black;
    margin : auto;
    font-size : 40px;
    font-family: 'Do Hyeon', sans-serif;
    font-weight: 500;
    text-align : center;
}
            
#inputboad {
    border: 2px solid black;
    width: 260px;
    padding: 10px 10px 10px 10px;
    margin: 0;
    font-size : 15px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    margin: 0 auto;
    text-align: center;
}
            
#img {
    border: 2px solid black;
    width: 990px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
}

button {
    border: 10px solid black;
    border-top-left-radius: 5px; 
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: skyblue;
    color: white;
    padding: 5px;
    font-size : 17px;
    width : 42px;
}